:root{
   --Neutral-900 : hsl(243, 96%, 9%);
   --Neutral-800 : hsl(243, 27%, 20%);
   --Neutral-700 : hsl(243, 23%, 24%);
   --Neutral-600 : hsl(243, 23%, 30%);
   --Neutral-300 : hsl(240, 6%, 70%);
   --Neutral-200 : hsl(250, 6%, 84%);
   --Neutral-0   : hsl(0, 0%, 100%);
   --Orange-500: hsl(28, 100%, 52%);
   --Blue-500 : hsl(233, 67%, 56%);
   --Blue-700 : hsl(248, 70%, 36%);
   --DM-Sans: "DM Sans", sans-serif;
   --Bricolage-Grotesque:"Bricolage Grotesque", sans-serif;
}


*, *::before, *::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.box-shadow,.current-box, .day-display-box ,.hourly-display-container,.hourly-display-container{
  box-shadow: 0 8px 16px 0 rgba(2, 1, 44, 0.32);

}











body{
    font-family:var(--Bricolage-Grotesque) ;
    background: var(--Neutral-900);

}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
}

.overflow{
     overflow-x: hidden;
    height:100%
}




/* Grid Layouts */


.current-container{
 
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: repeat(2,1fr);
 width: 100%;
 gap:1em;
}

.day-display-conainer{
        
         display:grid;
         grid-template-columns: repeat(3,1fr);
         gap:15px
        
    
}










.container{
max-width:1440px;
width:90%;
margin:0 auto;
}

.logo{
    display: block;
    
}
 

.btn{
    width: 119px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--DM-Sans);
    font-weight: 500;
    line-height: 120%;
    background: var(--Neutral-800);
    color: white;
    gap:5px;
    border:none;
    border-radius:12px;
    ;
}

.menu-container{
    position: relative;
   
}
.units-container{
     
      
    min-width:275px; 
    width: max-content;
    background-color:var(--Neutral-700) ;
    color: white;
    position:absolute;
    top:3rem;
    right:0;
    padding: 1em;
    border-radius: 12px;
   
    
    
}

.current-box{
    background-color: var(--Neutral-600);
    padding: 1.25rem;
    border-radius:12px ;
    width: 100%;
}

h1,h2,h3,h4{
    color:var(--Neutral-0)
}
h1{
    font-size:3.25rem ;
    color: var(--Neutral-0);
    font-weight: 900;
    text-align: center;
}

h2{
    font-size:1.25rem;
    line-height: 120%;
}

h3{
    font-size: 1rem;
    margin-left:1em;
} 

h4{
    color:var(--Neutral-200);
    font-size: 1.125rem;
    margin-bottom:1.5rem;
}
dt,dd{
    font-family:var(--DM-Sans);
    margin:16px auto 0 0  ;
    margin-right: auto;
    width: 90%;
    
}
 
dd{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 12px;
    
}

dd img{
    margin-right: 1em;
}
dt{
    color:var(--Neutral-300);
    margin-left: 1em;

}
 
.inactive{
    display:none;
}

.active{
    display:block
}


dd:hover{
    background-color: var(--Neutral-600);
}

form{
   
 
   width: 100%;
    gap:1rem;
}

form >*{
    display: block;
    width: 100%;
    
}
input{
    width: 100%;
    flex-grow: 1;
    border-radius:12px ;
    background: var(--Neutral-800);
    background: url(./assets/images/icon-search.svg) 10px center var(--Neutral-800);
    background-repeat: no-repeat; 
    border: none;
    padding-left: 39px;
    padding-top:3px;
    
    
}


input::placeholder, input{
    color:var(--Neutral-200);
    font-weight:600;
    font-size:1.25rem ;
     
     
}
label{
    display: none;
}

.search-btn {
    flex-shrink: 0;
    background-color: var(--Blue-500);
    display: block;
}

.main-display{
    width: 100%;
    background: url("./assets/images/bg-today-large.svg") no-repeat center/cover;;
    
    border-radius: 12px;
    overflow: hidden;
    padding:3em;
    margin-bottom: 15px;
}


.main-display > *{
    display: block;
}

.day-display,.hourly-display-box{
   color:var(--Neutral-0);
   font-size: 2rem;
}

.day-display-box{
    background-color:var(--Neutral-600) ;
   min-width:165px;
    text-align: center;
    border-radius: 16px;
    padding: 1em;
    
    
}
.day-display-box > * {
   flex: 1 1 0;  /* grow = 1, shrink = 1, basis = 0 */
   text-align: center;
   min-width: 0;
}

.day-display-box img{
    display: block;
   max-width: 50%;
   height: auto;
    margin: 0 auto;
}

.hi-lo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourly-display-container{
    width: 100%;
    background-color: var(--Neutral-700);
    border-radius: 16px;
    padding: 24px;
}

.hourly-display-box{
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--Neutral-600);
    margin-top: .5rem;
    border-radius: 16px;
    padding:0 2rem
}


.hourly-display-box > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hourly-display-container img{
    width: 15%;
    height: auto;
}









@media (min-width:475px){
form{
    display:flex;
    width:70%;
    margin: 0 auto;
    justify-content: center;
}
.day-display-conainer{
    display: flex;
    justify-content: space-between;
    
}
}
@media (min-width:650px) {
    .current-container{
        display:flex;
        justify-content:space-between;
    }
    main{
    align-items: stretch;
    justify-content: stretch;
    display: grid;
    grid-template-columns: 60% 40%;
    gap:2rem
}

.current-container{
    grid-column: 1 / 2;
}

.main-container{
    grid-row: 1 / 2 ;
}
.day-display-conainer{
    grid-column: 1/ 2
}

.hourly-display-container{
   grid-column: 2 / 3;
   grid-row: 1 / 5;
}



/* ----------------------- */

}